.img-size{
    width: 100% !important;
    background-size: cover !important;
    border-radius: 15px !important;
    transition: 0.5s ease-in-out;
    min-height: 15em !important;
    max-height: 15em !important;
    
}
.card{
    transition: 0.5s ease-in-out;
    min-height: 26em;

}
.card:hover{ 
    transform: scale(1.1);
}

.card-text-mw{
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}



@media(max-width: 900px){
    .card{
        width: 95vw !important;
        margin: auto;
    }
    .img-size{
        width: 100% !important;
        background-size: cover !important;
        border-radius: 15px !important;
        transition: 0.5s ease-in-out;
        min-height: 13em !important;
        max-height: 13em !important;
        
    }
}